/*Start Font*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*End Font*/

/* Start Body*/
body {
    color: black;
    font-family: Montserrat, Open Sans, Lato ;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
 }
/* End Container*/

/* Start Debug*/
.bg-white {
    background-color: white;
}
.bg-pink {
    background-color: wheat;
}
/* End Debug*/


/*Start Container*/
.container {
    margin : 10px auto;
    overflow: auto;
    width: 90%;
}

.containerfull {
    margin : 10px auto;
    overflow: auto;
    width: 100%;
}
/*End Container*/

/* Start Logo*/
.logo {
    text-align: center;
}
/* End Logo*/

/*start sliders*/
#slider-wrapper{
  width: 1180px;
  height: 600px;
  margin: 50px auto;
  position: relative;
  margin-bottom: 0px;
  background: rgba(0,0,0,0.5);
  overflow: hidden;
}

      #s1{
          padding: 6px;
          background: #FFFFFF;
          position: absolute;
          left: 50%;
          bottom: 25px;
          margin-left: -36px;
          border-radius: 20px;
          opacity: 0.3;
          cursor: pointer;
          z-index: 999;
      }
      
      #s2{
          padding: 6px;
          background: #FFFFFF;
          position: absolute;
          left: 50%;
          bottom: 25px;
          margin-left: -12px;
          border-radius: 20px;
          opacity: 0.3;
          cursor: pointer;
          z-index: 999;
      }
      
      #s3{
          padding: 6px;
          background: #FFFFFF;
          position: absolute;
          left: 50%;
          bottom: 25px;
          margin-left: 12px;
          border-radius: 20px;
          opacity: 0.3;
          cursor: pointer;
          z-index: 999;
      }
      
      #s4{
          padding: 6px;
          background: #FFFFFF;
          position: absolute;
          left: 50%;
          bottom: 25px;
          margin-left: 36px;
          border-radius: 20px;
          opacity: 0.3;
          cursor: pointer;
          z-index: 999;
      }
      
      #s1:hover, #s2:hover, #s3:hover, #s4:hover{ opacity: 1;}
      
  .inner-wrapper{
      width: 1180px;
      height: 600px;
      position: absolute;
      top: 0;
      left: 0;
      margin-bottom: 0px;
      overflow: hidden;
  }
      .control{ display: none;}
      
      #Slide1:checked ~ .overflow-wrapper{ margin-left: 0%; }
      #Slide2:checked ~ .overflow-wrapper{ margin-left: -100%; }
      #Slide3:checked ~ .overflow-wrapper{ margin-left: -200%; }
      #Slide4:checked ~ .overflow-wrapper{ margin-left: -300%; }
      
      #Slide1:checked + #s1 { opacity: 1; }
      #Slide2:checked + #s2 { opacity: 1; }
      #Slide3:checked + #s3 { opacity: 1; }
      #Slide4:checked + #s4 { opacity: 1; }
      
  .overflow-wrapper{
      width: 400%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      overflow-y: hidden;
      z-index: 1;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
  }
  
      .slide img{
          width: 10%;
          float: left;
      }
/*end sliders*/

/*Start Anchor/Hyperlink*/
a:link,
a:visited {
    color: rgb(78, 60, 233);
    text-decoration: none;

}

a:hover,
a:active {
    color: palevioletred;
    text-decoration: underline;
}
/*End Anchor/Hyperlink*/

/* Start Menu Primer*/
.menu-primer ul {
    background-color: wheat;
    border-radius: 4px;
    box-shadow: 0ch;
    text-align: center;
}

.menu-primer li {
    border-right: 1px solid bisque;
    display: inline-block;
    margin: 0 -4px;
}

.menu-primer a {
    color: black;
    font-size: 14px; 
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: indianred;
    color: black;
    text-decoration: none;
}

.menu-primer .active {
    background-color: white;
    color: #333333;
    text-decoration: none;
}

/* End Menu Primer*/

/*Start Heading*/
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/*End Heading*/

/*Start Jumbotron*/
.jumbotron {
    background-color: wheat;
    border-radius: 4px;
    padding: 20px 0;
    text-align: center;
}

.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/*End Jumbotron*/

/*Start Main*/
.main-home-one {
    float: left;
    width: 49.5%;
}

.main-home-two {
    float: right;
    width: 49.5%;
}

.main-home-one .box-isi,
.main-home-two .box-isi {
    height: 130px;
}
/*End Main*/

/*Start Box*/
.box-heading {
    background-color: wheat;
    border: 1px solid black;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}

.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: white;
    border: 1px solid black;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;

}
/*End Box*/

/*Start Menu Sekunder*/
.menu-sekunder {
    background-color: wheat;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    overflow: auto;
    padding: 10px 0;
}

.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}

.menu-sekunder ul {
    padding: 0;
}

.menu-sekunder li {
    list-style: disc;
}

.menu-sekunder li a,
.menu-sekunder li p {
    font-size: 15px;
}
.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}

.menu-sekunder-one {
    width: 40%;
}

.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}

.menu-sekunder li img {
    vertical-align: middle;
}
/*End End Sekunder*/

/*Start Testimonial*/
.testimonial {
    border-left: 4px solid wheat;
    margin-left: 30px;
    padding-left: 20px;
}
/*End Testimonial*/

/*Start Copyright*/
.copyright p {
    font-size: 15px;

}
/*End Copyright*/

/*start wow factor*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1567 {
  background-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 10px;
  max-width: 31.4%;
  min-width: 31.4%;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
}

.snip1567 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1567 img {
  max-width: 100%;
  opacity: 0.75;
  position: relative;
  vertical-align: top;
}

.snip1567 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1567 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: #000000;
  top: 0;
  font-weight: 800;
  letter-spacing: -0.4px;
  margin: 0;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
}

.snip1567 p {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0px 20px;
  opacity: 0;
  text-align: right;
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1567 i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 54px;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.snip1567 .hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  background-color: rgba(236, 188, 46, 0.75);
  display: flex;
  font-size: 65px;
  justify-content: center;
  opacity: 0;
}

.snip1567 a {
  left: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.snip1567:hover .hover,
.snip1567.hover .hover {
  opacity: 1;
}

.snip1567:hover p,
.snip1567.hover p {
  opacity: 1;
}

.snip1567:hover h3,
.snip1567.hover h3 {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.snip1567:hover i,
.snip1567.hover i {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
  transform: translate(-50%, -50%) scale(0.1);
  opacity: 0;
}
/*end wow factor*/

/*start menu produk*/
/* Icon set - http://ionicons.com */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1268 {
  font-family: 'Raleway', Arial, sans-serif;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 31.4%;
  max-width: 31.4%;
  width: 100%;
  color: #333333;
  text-align: center;
  background-color: #ffffff;
  line-height: 1.6em;
}
.snip1268 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.snip1268 .image {
  position: relative;
}
.snip1268 img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.snip1268 .icons,
.snip1268 .add-to-cart {
  position: absolute;
  left: 20px;
  right: 20px;
  opacity: 0;
}
.snip1268 .icons {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  top: 20px;
  display: flex;
  justify-content: space-between;
}
.snip1268 .icons a {
  width: 32.5%;
  background: #ffffff;
}
.snip1268 .icons a:hover {
  background: #000000;
}
.snip1268 .icons a:hover i {
  color: #ffffff;
  opacity: 1;
}
.snip1268 .icons i {
  line-height: 46px;
  font-size: 20px;
  color: #000000;
  text-align: center;
  opacity: 0.7;
  margin: 0;
}
.snip1268 .add-to-cart {
  position: absolute;
  bottom: 20px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  font-size: 0.8em;
  color: #000000;
  line-height: 46px;
  letter-spacing: 1.5px;
  background-color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}
.snip1268 .add-to-cart:hover {
  background: #000000;
  color: #ffffff;
}
.snip1268 figcaption {
  padding: 20px 20px 30px;
}
.snip1268 h2,
.snip1268 p {
  margin: 0;
  text-align: left;
}
.snip1268 h2 {
  margin-bottom: 10px;
  font-weight: 700;
}
.snip1268 p {
  margin-bottom: 15px;
  font-size: 0.85em;
  font-weight: 500;
}
.snip1268 .price {
  font-size: 1.3em;
  opacity: 0.5;
  font-weight: 700;
  text-align: right;
}
.snip1268:hover img,
.snip1268.hover img {
  opacity: 0.8;
}
.snip1268:hover .icons,
.snip1268.hover .icons,
.snip1268:hover .add-to-cart,
.snip1268.hover .add-to-cart {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
/*end menu produk*/